In [7]:
from twitter_network.nodes.features import cosine_similiarit

In [11]:
DiG = io.load("DiG_train")
train = io.load('train_big'); train.head(n = 10)

2019-06-30 08:02:08,178 - kedro.io.data_catalog - INFO - Loading data from `DiG_train` (PickleLocalDataSet)...
2019-06-30 08:03:33,597 - kedro.io.data_catalog - INFO - Loading data from `train_big` (PickleLocalDataSet)...

                  edge  label
id
0   (4576112, 3647491)      0
1   (3875143, 3072079)      0
2   (2331329, 2141077)      1
3   (1153814, 3776094)      1
4     (993987, 529410)      0
5    (514678, 1817604)      0
6     (3464435, 65543)      0
7    (2445865, 966025)      1
8    (2431466, 426038)      1
9     (3879365, 91713)      1

In [18]:
source, sink = train.edge[0]

In [17]:
cd_followees(train.edge[4], DiG)

0

In [20]:
source_successors = set(DiG.successors(source))
sink_successors = set(DiG.successors(sink))

In [22]:
sink_successors

set()