In [1]:
import networkx as nx
import pandas as pd
from twitter_network.nodes.setup import create_sample, preprocess_sample
import pickle

In [13]:
%reload_kedro
real_50 = io.load('train_50_hidden')
fake_50 = io.load('train_50_fake')
train_100 = io.load('train_100')
train_300 = io.load('train_300')
train_600 = io.load('train_600')
test = io.load('edges_test')

2019-07-01 02:14:15,263 - INFO - ** Kedro project Twitter Network
2019-07-01 02:14:15,267 - INFO - Loading: /Users/tomduke/Documents/Academic/MBusA/Modules/M3 - Advanced Analytics/Machine Learning/twitter-network/conf/base/logging.yml
2019-07-01 02:14:15,368 - INFO - Loading: /Users/tomduke/Documents/Academic/MBusA/Modules/M3 - Advanced Analytics/Machine Learning/twitter-network/conf/base/catalog.yml
2019-07-01 02:14:15,390 - INFO - Loading: /Users/tomduke/Documents/Academic/MBusA/Modules/M3 - Advanced Analytics/Machine Learning/twitter-network/conf/base/credentials.yml
2019-07-01 02:14:15,395 - INFO - Loading: /Users/tomduke/Documents/Academic/MBusA/Modules/M3 - Advanced Analytics/Machine Learning/twitter-network/conf/base/parameters.yml
2019-07-01 02:14:15,408 - INFO - Defined global variables proj_dir, proj_name, conf and io
2019-07-01 02:14:15,410 - INFO - Loading data from `train_50_hidden` (PickleLocalDataSet)...
2019-07-01 02:14:15,413 - INFO - Loading data from `train_50_fake` (PickleLocalDataSet)...
2019-07-01 02:14:15,544 - INFO - Loading data from `train_100` (CSVLocalDataSet)...
2019-07-01 02:14:15,608 - INFO - Loading data from `train_300` (CSVLocalDataSet)...
2019-07-01 02:14:15,803 - INFO - Loading data from `train_600` (CSVLocalDataSet)...
2019-07-01 02:14:16,165 - INFO - Loading data from `edges_test` (PickleLocalDataSet)...

In [3]:
real_edges = [train_100[train_100.label == 1]]
fake_edges = [train_100[train_100.label == 0]]
real = pd.concat(real_edges).drop_duplicates(); real.describe()

         label
count  50000.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0

In [4]:
fake = pd.concat(fake_edges).drop_duplicates(); fake.describe()

         label
count  52795.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0

In [12]:
train_100

        label               nodes
0           1  (3930025, 1224449)
1           1  (1489608, 2037571)
2           1   (772041, 4291594)
3           1   (205982, 3194642)
4           1  (4037277, 2356036)
5           1  (3511377, 3710266)
6           1  (4275479, 3247948)
7           1   (4148049, 579883)
8           1    (679732, 816479)
9           1  (4456188, 2647962)
10          1  (1869978, 4111077)
11          1    (143652, 580072)
12          1  (1337829, 4071837)
13          1   (2514448, 376921)
14          1   (3399075, 358430)
15          1  (2920873, 4680703)
16          1  (1043731, 2429524)
17          1    (720229, 634154)
18          1   (2047301, 594256)
19          1  (1158439, 4105667)
20          1   (1375735, 125460)
21          1  (4163893, 1110945)
22          1  (2804852, 2144143)
23          1  (4486224, 3225078)
24          1  (3360618, 2937459)
25          1   (363827, 1878814)
26          1  (1507561, 3564753)
27          1  (3753740, 4111306)
28          1  (3755454, 1511168)
29          1   (3393181, 357542)
...       ...                 ...
107025      0   (774480, 3514376)
107026      0   (774480, 2877449)
107027      0   (774480, 3309579)
107028      0   (774480, 3403793)
107029      0   (774480, 4397076)
107030      0    (774480, 268309)
107031      0   (774480, 2088982)
107032      0   (774480, 2706457)
107033      0   (774480, 1675905)
107034      0   (774480, 4860758)
107035      0   (774480, 1630854)
107036      0    (774480, 303111)
107037      0    (774480, 338828)
107038      0   (774480, 1349133)
107039      0    (774480, 987919)
107040      0    (774480, 550416)
107041      0   (774480, 1893010)
107042      0   (774480, 3084949)
107043      0   (774480, 2866621)
107044      0   (774480, 4657152)
107045      0   (774480, 3516417)
107046      0   (774480, 4638722)
107047      0   (774480, 1484804)
107048      0   (774480, 4381501)
107049      0    (774480, 229382)
107050      0   (774480, 2963465)
107051      0   (774480, 2068490)
107052      0   (774480, 3112974)
107053      0   (774480, 4507663)
107054      0   (774480, 1128465)

[107055 rows x 2 columns]

In [8]:
train_small = create_sample(hidden = real_50, fakes = fake_50); train_small

                     edge  label
0      (2696810, 3982457)      0
1      (2972814, 1125559)      0
2      (1759584, 2734171)      0
3       (179860, 3362595)      0
4      (1734606, 2936919)      0
5         (343499, 97688)      0
6      (1129727, 2976833)      0
7      (1111515, 2073807)      0
8      (1220508, 4039814)      0
9      (4763509, 2165811)      0
10     (2018668, 2691588)      0
11     (4699550, 1144674)      0
12     (1546331, 4007674)      0
13        (127619, 47847)      0
14     (4496242, 3729221)      0
15     (3747595, 4087353)      0
16     (4079398, 4247692)      0
17     (2436687, 3828528)      0
18     (3968141, 4690734)      0
19     (2523111, 2715274)      0
20     (4519174, 2542289)      0
21     (1766736, 1532976)      0
22      (190960, 3102588)      0
23     (2350820, 1540256)      0
24     (1759534, 1485269)      0
25     (1153566, 2145501)      0
26      (814749, 4660140)      0
27     (2342340, 4200605)      0
28      (341520, 4658925)      0
29     (1609584, 1371085)      0
...                   ...    ...
24980   (746482, 1826227)      0
24981   (772913, 3279266)      0
24982   (888670, 1832903)      0
24983   (112507, 2844459)      0
24984   (3525468, 323878)      0
24985  (3834803, 2581939)      0
24986   (3185052, 524986)      0
24987   (677592, 1285012)      0
24988   (300073, 2724590)      0
24989   (4550538, 457728)      0
24990  (1922314, 1282405)      0
24991   (891338, 2161921)      0
24992   (3985964, 422062)      0
24993  (2471540, 3573637)      0
24994   (4394778, 630003)      0
24995   (183589, 3928631)      0
24996   (1562509, 625479)      0
24997  (4768062, 4046574)      0
24998  (4034972, 1182162)      0
24999  (1529095, 3937807)      0
25000  (4510458, 4622693)      0
25001  (2862491, 2465391)      0
25002  (2601197, 4375318)      0
25003  (1806041, 3422270)      0
25004  (1335675, 4554114)      0
25005  (4660550, 4605639)      0
25006  (2996783, 2183889)      0
25007  (3232178, 3070546)      0
25008  (3274032, 1621435)      0
25009   (573693, 2842540)      0

[25010 rows x 2 columns]

In [9]:
train_big = preprocess_sample(pd.concat([real, fake])); train_big.head()

TypeError: preprocess_sample() missing 1 required positional argument: 'test'

In [ ]:
edges = pd.concat([train_big, train_small]).drop_duplicates()
edges = edges.sample(frac = 1)
edges

In [ ]:
edges["id"] = range(len(edges))
edges = edges.set_index("id"); edges

In [ ]:
[edges.edge in test]

In [ ]:
FILEPATH = "data/02_intermediate/samples/train_big.pkl"

In [ ]:
with open(FILEPATH, "wb") as f:
    pickle.dump(edges, f)

In [ ]:
with open(FILEPATH, "rb") as f:
    edges = pickle.load(f)

In [ ]:
edges.describe()